body {
    display: flex;
    flex-direction: column;
    flex: auto;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 300px
}

.top {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:30px 300px;
    flex: auto;
    flex-shrink: 0;
    gap: 30px;
}

.logo {
    flex-shrink: 0;
    width: 75px;
}


.toplinks {
    display: flex;
    justify-content: space-between;
    gap: 30px
}

.topleft,
.topright {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #E5E7EB;
}

.ascent {
    border-radius: 5px;
}

h1 {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    width: 75px;
    height: 30px;
    font-size: 18px;
    color: #F9FAF8;
    font-weight: 700;
    border-color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.middle {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 300px;
}

.mates {
    width: 75px;
    height: 75px;
    border: 2px solid #3882F6;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.names {
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-align: center;
    color: #1F2937;
    font-size: 10px;
}

.dough,
.crispy,
.gato,
.postum,
.ogearty {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: space-around;
}

.bottom {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 300px;

}

.quote {
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    color: #1F2937;
    max-width: 500px;
    margin-bottom: 8px;
}

.actor {
    font-weight: 600;
    display: flex;
    align-self: flex-end;
    padding-right: 250px;

}

.coach {
    font-weight: 900;
    display: flex;
    align-self: flex-end;
    padding-right: 150px;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 300px;
    color: #E5E7EB;
}
.container {
    background-color: #3882F6;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.buttonright {
    display: flex;
    align-items: center;
    padding: 30px;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}